@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Muli&display=swap');
html { scroll-behavior: smooth; }
body {
    margin:0;
    padding:0;
    background-color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior:smooth;
    height:1000px;
    
}
.website{
    position:absolute ;
    max-width:100vw;
    max-height:100vh;
    overflow-x:hidden;
}
.bgImg{
    width:100%;
    height:auto;
    position:relative
    background-color:#fff;
    -webkit-clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0% 80%, 0 0); 
    clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0% 80%, 0 0);
}
.logo{
    color:#fff;
    font-size:12px;
    top:10px;
    left:15px;
    font-family: 'Josefin Sans', sans-serif;
    position:absolute ;
}
ul{
    position:absolute;
    top:0px;
    left:190px;
    font-size:6px;
    color:#fff;
}
ul li{
    display:inline-block;
    margin:10px;
}
.btn{
    padding:2px 8px 2px 8px;
    transition:0.3s;
}
a{
    text-decoration:none;
}
.one{
    background-color:none;
    color:#fff;
}
.two{
    background-color:#fff;
    color:#0a79df;
}
.btn:hover{
    background-color:#0a79df;
    color:#fff;
}
.txt{
    position:absolute ;
    left:50%;
    transform:translate(-50%,-50%);
    color:#000;
    font-size:15px;
    top:280px;
    font-family: 'Anton', sans-serif;
}
.txtdot{
    position:absolute ;
    left:50%;
    transform:translate(-50%,-50%);
    color:#000;
    font-size:8px;
    width:90%;
    top:310px;
    text-align:center;
}
.service{
    position:relative;
    top:100px;
    left:25px;
    width:100%;
}
.service .first{
    position:relative;
    width:100px;
    margin:25px;
    display:inline-block ;
}
.first .firstImg{
    width:60px;
    height:auto;
    position:relative ;
    left:20px;
}
.first .head{
    text-align:center;
    font-size:12px;
    padding-top:5px;
}
.first .content{
    text-align:center ;
    font-size:6px;
    padding-top:3px;
}
.vice{
    position:absolute ;
    left:50%;
    font-size:12px;
    text-align:center ;
    width:80%;
    top:640px;
    transform:translate(-50%, -50%);
}
.winner{
    position:absolute ;
    left:50%;
    width:160px;
    height:auto ;
    top:720px;
    transform:translate(-50%, -50%);
}
.bttn{
    position:absolute ;
    left:50%;
    text-align:center ;
    padding:5px 10px 5px 10px;
    background-color:#0a79df;
    color:#fff;
    top:780px;    
    font-size:12px;
    transform:translate(-50%, -50%);
}
footer{
    top:1000px;
    position:absolute ;
    width:100%;
    height:120px;
    background-color:#0a79df;
}
footer ul{
    display:inline-block ;
    color:#fff;
    position:absolute ;
    top:20px;
    left:10px;
}
footer ul li{
    margin:20px;
    display:inline-block ;
    font-size:8px;
    list-style:none ;
}
.text{
    position:absolute ;
    left:50%;
    text-align:center ;
    color:#000;
    top:890px;    
    font-size:9px;
    width:90%;
    transform:translate(-50%, -50%);
}⁹
